#root {
    height: 100%;
    width: 100%;
    justify-content: center;
}
.container {
    margin: 30% 5%;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--background--light);
}

#logo {
    background-image: url("/Assets/LlamAcademy/Minigolf/UI/Textures/Logo.png");
    height: 300px;
    width: 300px;
    align-self: center;
}

.header {
    color: var(--secondary);
    font-size: 36px;
    -unity-text-align: middle-center;
}
